@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

body {
  background: #000000;
  font-family: "Pangram Pangram,Hiragino Sans,Meiryo,sans-serif";
}

@layer components {
  .clipped-text {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
  }
}
